HOST=0.0.0.0
PORT=1337
APP_KEYS=HLTXakiqkK6UP5u2o9pDjw==,A/EE8bslyR81fCGO5xBdLg==,e57/5l//rgj/7JOInlTgQw==,4X8LLj6vzox4aK7NfJ2dNw==
API_TOKEN_SALT=kGZGvTlpemWL2w1aQMSFQg==
ADMIN_JWT_SECRET=UXrGPM0DzsZptx1Ny5w//A==
TRANSFER_TOKEN_SALT=w0kppb7GDbrZOtEkH9UXEQ==
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false
JWT_SECRET=fqvqeJKwNgn6ixYY0plahg==
